<html>
<head>
	<link rel="stylesheet" type="text/css" href="unfollowers_page_design.css"/>
	<title>Unfollowers</title>
</head>
<body>
<h1>Unfollowers</h1>
<div class="unfollowers-box" id="scroll-unfollowers">
	<ul id="unfollowers-list">
		<li>
			<span class="unfollower-list-item">name1</span>
		</li>
		<li>
			<span class="unfollower-list-item">name2</span>
		</li>
		<li>
			<span class="unfollower-list-item">name3</span>
		</li>
		<li>
			<span class="unfollower-list-item">name4</span>
		</li>
		<li>
			<span class="unfollower-list-item">name5</span>
		</li>
		<li>
			<span class="unfollower-list-item">name6</span>
		</li>
		<li>
			<span class="unfollower-list-item">name7</span>
		</li>
		<li>
			<span class="unfollower-list-item">name8</span>
		</li>
		<li>
			<span class="unfollower-list-item">name9</span>
		</li>
		<li>
			<span class="unfollower-list-item">name10</span>
		</li>
		<li>
			<span class="unfollower-list-item">name11</span>
		</li>
		<li>
			<span class="unfollower-list-item">name12</span>
		</li>
		<li>
			<span class="unfollower-list-item">name13</span>
		</li>
		<li>
			<span class="unfollower-list-item">name14</span>
		</li>
		<li>
			<span class="unfollower-list-item">name15</span>
		</li>
		<li>
			<span class="unfollower-list-item">name16</span>
		</li>
		<li>
			<span class="unfollower-list-item">name17</span>
		</li>
		<li>
			<span class="unfollower-list-item">name18</span>
		</li>
	</ul>
</div>
</body>
</html>
